@import "tailwindcss";

/* App base layout */
html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-100;
}

@keyframes shine {
  0% {
    background-position: -200% center;
  }

  100% {
    background-position: 200% center;
  }
}

.shiny-text {
  background: #1f1f1f;
  background-size: 200% auto;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;


  font-weight: 900;
  letter-spacing: 1px;
  font-family: 'Google Sans', sans-serif;
}