@import "tailwindcss";

/* App base layout */
html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-100;
}

@keyframes shine {
  0% {
    background-position: -200% center;
  }

  100% {
    background-position: 200% center;
  }
}

.shiny-text {
  background: #1f1f1f;
  background-size: 200% auto;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;


  font-weight: 900;
  letter-spacing: 1px;
  font-family: 'Google Sans', sans-serif;
}

/* Custom Menu Underline */
.ant-menu-horizontal {
  line-height: 46px !important;
  border-bottom: none !important;
}

/* Link color for all menu items */
.ant-menu-horizontal .ant-menu-item a {
  color: #58856c !important;
  opacity: 0.8;
  transition: all 0.3s;
}

/* Styling for the selected item */
.ant-menu-horizontal>.ant-menu-item-selected {
  background: transparent !important;
}

.ant-menu-horizontal>.ant-menu-item-selected a {
  font-weight: bold !important;
  opacity: 1 !important;
}

.ant-menu-horizontal>.ant-menu-item-selected::after {
  border-bottom: 2px solid #58856c !important;
  opacity: 1 !important;
}

/* Disable underline for non-selected items on hover */
.ant-menu-horizontal>.ant-menu-item:not(.ant-menu-item-selected)::after {
  border-bottom: 2px solid transparent !important;
}

/* Text color on hover for better UX */
.ant-menu-horizontal>.ant-menu-item:hover a {
  opacity: 1 !important;
}